/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color:  #043d49;
  color: #333;
}

/* Header */
header {
  background-color:  #043d49;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ffffff;
}

header h1 {
  margin: 0;
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
}

/* Intro Section */
.intro {
  padding: 60px 20px;
  background-color:  rgba(119, 186, 205, 0.95);
  text-align: center;
}

.intro-text h2 {
  font-size: 30px;
  color: #023d3d;
  margin-bottom: 20px;
}

.intro-text p {
  font-size: 18px;
  color: #ffffff;
  max-width: 800px;
  margin: auto;
  line-height: 1.6;
}

/* Mission and Values */
.mission,
.values {
  padding: 50px 20px;
  text-align: center;
}

.mission h2,
.values h2 {
  font-size: 28px;
  color: #023d3d;
  margin-bottom: 20px;
}

.mission p,
.values ul {
  font-size: 18px;
  color: #555;
  max-width: 800px;
  margin: auto;
  line-height: 1.6;
}

.values ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.values li {
  margin: 10px 0;
  font-size: 18px;
}

/* Testimonials Section */

.testimonials {
  background-color: #ffffff;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 30px;
}

.testimonial-item {
  background: #043d49;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgb(255, 255, 255);
  transition: transform 0.3s;
}

.testimonial-item:hover {
  transform: translateY(-5px);
}

.testimonial-item p {
  font-style: italic;
  color: #f5f2f2;
}

.testimonial-item h4 {
  margin-top: 15px;
  color:#349ab1;
}

/* Rating Stars */
.rating {
  margin-top: 10px;
}

.star {
  font-size: 20px;
  color: #ffffff;
}

/* Skincare Tips Section */
.tips {
  background-color:  #043d49;
  padding: 60px 20px;
  text-align: center;
}

.tips h2 {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 30px;
}

.tips ul {
  list-style: none;
  max-width: 800px;
  margin: auto;
  padding: 0;
}

.tips li {
  font-size: 18px;
  padding: 10px 0;
  border-bottom: 1px dashed  #ffffff;
  color: #fffefe;
}

.tips li:last-child {
  border-bottom: none;
}

/* Footer */
footer {
  background-color:  #54a6be;
  text-align: center;
  padding: 30px 20px;
  font-size: 14px;
  color: #fff5f5;
  border-top: 2px solid  #ffffff;
  margin-top: 50px;
}

