/* Styling for the page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fdf4f4; /* خلفية ناعمة بيج فاتح */
  color: #ffffff;
}

.header-main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color:#043d49; 
  color: #fff;
}

.header-main .logo h1 {
  margin: 0;
  font-family: 'Cursive', sans-serif;
}

.header-main .nav-menu a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.nav-menu a:hover {
  color: rgba(119, 186, 205, 0.95); 
}

/* Products Section */
.products {
  padding: 77px;
  text-align: center;
  background-color: rgba(119, 186, 205, 0.95);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* تحديد أربعة أعمدة في كل صف */
  gap: 100px;
  margin-top: 50px;
}

/* The rest of the CSS remains the same */
.product-item {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 10px rgb(255, 255, 255);
  border-radius: 15px;
  text-align: center;
}

.product-item img {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
}

.product-item h3 {
  margin: 10px 0;
  font-size: 1.2em;
  color: #043d49;
}

.product-item p {
  color: #777;
  font-size: 1em;
}

.product-buttons {
  margin-top: 10px;
}

.product-buttons a {
  display: inline-block;
  padding: 10px 10px;
  background-color: #1f7081;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius:10px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.product-buttons a:hover {
  background-color:rgba(138, 194, 210, 0.95);
}


/* Popup styling */
.details-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  width: 400px;
  max-width: 90%;
  text-align: center;
}

.popup-content h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: #1f7081; 
}

.popup-content p {
  margin: 0;
  color: #777;
}

.popup-close {
  margin-top: 10px;
  text-align: right;
}

.popup-close a {
  background-color: #0b7186;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 30px;
}

.popup-close a:hover {
  background-color: #0b7186
}

/* Hover effect on product cards */
.product-item:hover {
  box-shadow: 0 10px 20px rgba(2, 59, 68, 0.8);
  transform: translateY(-5px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.filter-bar {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.filter-bar select {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-weight: bold;
  background-color: #ffffff;
  color: #043d49;
}
