* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(photo/ph15.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #333;
}

.container {
    background-color: rgba(119, 186, 205, 0.95);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 30px #ffffff;
    width: 350px;
    transform: translateX(200px);
}

.register-box h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

.register-box p {
    color: #033641;
    font-size: 14px;
    margin-bottom: 20px;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.social-buttons button {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.google,
.facebook {
    background-color: rgba(119, 186, 205, 0.95);
}

.google:hover,
.facebook:hover {
    background-color: #266f7e;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    background-color: #ffeef4;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.05);
}

.register {
    width: 100%;
    height: 45px;
    margin: 12px 0;
    background-color: #0f5766;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register:hover {
    background-color: #116183;
    color: #fff0f0;
}

.login-text {
    color: #033641;
    text-align: center;
    margin-top: 20px;
}

.login-text a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

.login-text:hover a {
    color: #043d49;
}
